<div class="container"  style="margin-top: 100px;">
   <div class="row">
      <div col-md-12>
         <h1>List of visible widgets</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
         <%= render "search" %>
      </div>
   </div>

   <div class="row pt-2">
      <div class="col-md-12 text-left pt-3">
         <table class="table">
            <thead class="thead-light">
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">User</th>
               </tr>
            </thead>
            <tbody id="search-listing">
               <%= render partial: "widget", collection: @widgets %>
            </tbody>
         </table>
      </div>
   </div>
</div>