<div class="p-3 p-md-5 text-black rounded bg-light mt-40 full-view">
  <div class="col-md-12 px-0">
    <h1 class="display-4 font-italic">Welcome to world of Widgets for Social Application</h1>
    <p class="lead my-3">Find Widgets for Facebook, Instagram, LinkedIn</p>
  </div>
</div>

