<!-- If it is a component based code I would prefer to create a common component -->
<tr>
  <th scope="row"><%= widget["id"] %></th>
  <td><%= widget["name"] %></td>
  <td><%= widget["description"] %></td>
  <td><%= link_to widget["user"]["name"], "" %></td>
</tr>

