<h1 style="text-align: center;"><u>Widgets</u></h1>
<% if @widgets.present? %>
  <%= render 'navigation/widgets_list', locale => {widgets: @widgets} %>
<% else %>
 <strong>No data returned!</strong>
<% end %>